<div class="container">

    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="one-half column">
            <p> <b>Contact us</b> <br> info@safest.uk <br> 01234 567 890 </p>
        </div>
        <div class="one-half column">
            <p> © 2022 Cardy, Cardy, Nyitrai & Newsam <br> www.safest.uk <br> All rights reserved. </p>
        </div>
    </div>

</div>